<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.listeners.ExtentListeners" />
	</listeners>

	<test name="Create customer API test">
		<classes>
			<class name="com.testcases.CustomerTests" />
		</classes>
	</test> <!-- Test -->
	<test name="Balance API test">
		<classes>
			<class name="com.testcases.BalanceTests" />
		</classes>
	</test> <!-- Test -->
	<test name="Product API test">
		<classes>
			<class name="com.testcases.ProductTests" />
		</classes>
	</test> <!-- Test -->
	<test name="Paymentintents API test">
		<classes>
			<class name="com.testcases.PaymentintentsTests" />
		</classes>
	</test> <!-- Test -->
		<test name="Invoice API test">
		<classes>
			<class name="com.testcases.InvoiceTests" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
